
**/node_modules
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
.pnp.*
.npm
web_modules/

*.sqlite
*.sqlite-journal
.now


**/.cache
**/build
**/public/build


.env
.env.local
.env.*.local
.envrc

logs
*.log

pids
*.pid
*.seed
*.pid.lock

.coverage
*.lcov
.nyc_output
lib-cov

*.tsbuildinfo
.eslintcache
.node_repl_history
.yarn-integrity

.serverless/

# Stores VSCode versions used for testing VSCode extensions
.vscode-test

./data/


/uploads/

**/.DS_Store
# ap