/* Global styles */
body {
  font-family: 'Arial', sans-serif;
  background-color: #e5ddd5; /* WhatsApp background color */
  margin: 0;
  padding: 0;
}

.container-fluid {
  padding: 0;
}

/* Left sidebar */
.contacts_card {
  height: 100%;
  border-right: 1px solid #d6d6d6;
  background-color: #f5f5f5; /* WhatsApp chat background color */
}

.search {
  border-radius: 20px;
  padding: 10px;
  background-color: #f5f5f5; /* WhatsApp chat background color */
}

/* Contacts list */
.contacts_body {
  overflow-y: scroll;
  max-height: calc(100vh - 80px); /* Adjust the maximum height as needed */
}

.contacts li {
  list-style-type: none;
  padding: 10px;
  cursor: pointer;
  border-bottom: 1px solid #d6d6d6;
  background-color: #fff; /* WhatsApp chat item background color */
}

.contacts li:hover {
  background-color: #e5ddd5; /* WhatsApp chat item hover background color */
}

/* Right chat section */
.chat {
  background-color: #fff;
  border: 1px solid #d6d6d6;
}

.msg_head {
  background-color: #128c7e; /* WhatsApp chat header background color */
  color: #fff;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.msg_head span {
  font-weight: bold;
}

.action_menu {
  display: none;
  position: absolute;
  right: 10px;
  top: 10px;
}

.action_menu ul {
  list-style-type: none;
  padding: 0;
}

.action_menu li {
  padding: 10px;
  cursor: pointer;
}

.action_menu li:hover {
  background-color: #f0f0f0;
}

/* Chat messages */
.msg_card_body {
  overflow-y: scroll;
  max-height: calc(100vh - 150px); /* Adjust the maximum height as needed */
  padding: 15px;
}

.msg_cotainer,
.msg_cotainer_send {
  margin-top: 10px;
  padding: 10px;
  border-radius: 10px;
  max-width: 70%;
}

.msg_cotainer {
  background-color: #f2f3f5; /* WhatsApp chat message background color */
}

.msg_cotainer_send {
  background-color: #128c7e; /* WhatsApp chat sent message background color */
  color: #fff;
  align-self: flex-end;
}

.msg_time {
  font-size: 12px;
  color: #777777;
  margin-left: 10px;
}

/* Message input area */
.type_msg {
  resize: none;
  border: none;
  padding: 10px;
  width: 100%;
  height: 50px;
  border-top: 1px solid #d6d6d6;
  background-color: #fff; /* WhatsApp chat input background color */
  font-family: 'Arial', sans-serif;
}

.attach_btn {
  cursor: pointer;
  background-color: #fff; /* WhatsApp chat input background color */
}

.send_btn {
  cursor: pointer;
  background-color: #128c7e; /* WhatsApp send button background color */
  color: #fff;
}

/* Responsive styles */
@media (max-width: 768px) {
  .contacts_card {
    display: none;
  }

  .chat {
    border-left: none;
  }
}